---
import Search from '../components/Search.astro';

---

<header class="bg-red-600 py-4 mb-0 shadow-xl rounded-lg">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <a href="/" class="text-3xl font-bold text-white m-5">Pokédex</a>
    <p class="font-semibold text-white">Hecho por Andrew 2024</p>
  </div>
  <Search />
</header>
